@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Telugu";
}
body{
    background: linear-gradient(to right,$right ,$left);
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    gap: 20px;
    
}
header{
    margin-top: 30px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 10px;
    h1{
        color: $font-color;
        margin-top: 5px;
    }
    .logo {
        width: 50px;
        height: 50px;
        
    }
}

.land{
    margin-top: 40px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
        text-align: center;
        font-family: "Anek Telugu";
        font-weight: 600;
        font-size: 50px;
        background-image: linear-gradient(to right, #a4d4ff, #0575E6,#2c9cff,#bde0ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        
            background-size: 300%;
            background-position: -100%;
        
            animation: animatedText 5s infinite alternate-reverse;
    }
    h2{
        color: $font-color;
        text-align: center;
    }
    h4 {
        color: $error;
        text-align: center;
    }
}
.search-form{
    display: grid;
    gap: 10px;
    text-align: center;
    &__search-bar{
        &__input{
            width: 60%;
            height: 2.5em;
        }
        &__button{
            width: 5em;
            height: 2.5em;
            color: $left;
            background-color: #6ebbff;
            border: 2px solid #6ebbff;
        }
        }
}
.card{
    margin-top: 30px;
    background: linear-gradient(to bottom right,
                rgba(255, 255, 255, 0.2),
                rgba(255, 255, 255, 0.05));
        box-shadow: 0 1rem 2rem rgba(240, 248, 255, 0.5), -1px -1px 2px #F0F8FF,
            1px 1px 2px $font-color;
        backdrop-filter: blur(0.8rem);
        padding: 1.5rem;
        border-radius: 1rem;
    display: none;
    margin-inline: 20%;
    padding-block: 10px;
    padding-inline: 4%;
    &__img{
        flex-basis: 35%;
        padding-block: 40px;
        margin-right: 50px;
        
        img{
            background: linear-gradient(to bottom right,
                        rgba(255, 255, 255, 0.2),
                        rgba(255, 255, 255, 0.05));
            box-shadow: 0 1rem 2rem rgba(240, 248, 255, 0.5), -1px -1px 2px #F0F8FF,
                    1px 1px 2px $font-color;
            backdrop-filter: blur(0.8rem);
            width: 100%;
        }
    }
    &__content{
        padding-block: 40px ;
        display: grid;
        gap: .2rem 1rem;
        grid-template-columns: 1fr 0 1fr;
        color: $font-color;
        flex-basis: 65%;
        img {
            margin: auto auto;
            width: 40px;
            height: 40px;
        }
        h3{
            margin: 2px 0 5px 0;
        }
        p{
            margin: 0;
        }
        a{
            color: $font-color;
        }
    }
}

.grid-span-2-col{
    grid-column: span 2;
}
.grid-span-3-col {
    grid-column: span 3;
}
footer{
    color: $font-color;
    margin: 35px 20px 10px 20px;
    a{
        color: #2c9cff;
    }
}
@keyframes animatedText {
    to {
        background-position: 100%;
    }
}